/* Add CSS styles specific to the outlet management page */

/* Header styles */
header {
    background-color: #030804;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

.logout-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.logout-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logout-text {
    margin-left: 5px;
    font-weight: bold;
}

h1.title {
    text-align: center;
    margin: 0;
}

/* Sidebar styles */
#sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #111;
    transition: all 0.3s ease;
}

#sidebar.active {
    left: 0;
}

#sidebar nav ul {
    padding: 0;
    margin: 0;
}

#sidebar nav ul li {
    list-style: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

#sidebar nav ul li a {
    color: white;
    text-decoration: none;
}

/* Main content styles */
main {
    padding: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    margin-bottom: 20px;
    width: 50%; /* Adjust as needed */
}

.button-container {
    position: absolute;
    width: 300px; 
    height: 100px;
    top: 90px;
    right:60px;
}

table {
    width: 80%; /* Adjust as needed */
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #030804;
    color: white;
}

/* Footer styles */
footer {
    background-color: #030804;
    color: white;
    text-align: center;
    padding: 10px;
}
