<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up page</title>
    <link rel="stylesheet" type="text/css" href="/static/signup.css">
</head>
<body>
    <form>
        <h1>Outlet Management @ IITGN</h1>
        <!-- Headings for the form -->
        <div class="headingsContainer">
            <img src="/static/logo.png" alt="Image" width="150" height="150">
            <h3>Sign up</h3>
            <p>Please create your account</p>
        </div>

        <!-- Main container for all inputs -->
        <div class="mainContainer">
            <!-- Full Name -->
            <label for="fullname">Full Name</label>
            <input type="text" id="fullname" placeholder="Enter Full Name" name="fullname" required>

            <br><br>

            <!-- Email -->
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter Email" name="email" required>

            <br><br>

            <!-- Password -->
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter Password" name="password" required>

            <br><br>

            <!-- Confirm Password -->
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" required>

            <!-- Container for Select User label and dropdown -->
            <div class="userTypeContainer">
                <label for="userType">Select User:</label>
                <select id="userType" name="userType">
                    <!-- <option value="stakeholder">Stakeholder</option> -->
                    <option value="student">Student</option>
                </select>
            </div>

            <!-- Submit button -->
            <button type="submit">Sign Up</button>

            <!-- Sign in link -->
            <p class="signin">Already have an account? <a href="{{ url_for('login') }}">Sign in</a></p>
        </div>

    </form>
</body>
</html>
